{% extends 'base.html' %}

{% block content %}
<style>
  body {
      background: url('https://i.postimg.cc/02bM6xXx/Sin-t-tulo.png') no-repeat center center fixed;
      background-size: cover;
      margin: 0;
      padding: 0;
  }
  .card {
      background: rgba(255, 255, 255, 0.7); /* Fondo casi transparente */
      border-radius: 10px;
  }
</style>

<div class="container">
  <div class="row justify-content-center mt-4">
      <div class="col-md-8">
          <div class="card">
              <div class="card-header text-center">
                  <h1>Políticas y Condiciones</h1>
              </div>
              <div class="card-body">
                  <div class="alert alert-danger">
                      Estas son las políticas y condiciones generales de uso de la plataforma "Lideratest". Por favor, léelas con atención antes de utilizar nuestros servicios.
                  </div>
                  <h3>1. Responsabilidad del Usuario</h3>
                  <p>
                      1.1. El Usuario entiende y acepta que el uso de la Plataforma es bajo su propia responsabilidad.
                  </p>
                  <p>
                      1.2. El Usuario se compromete a utilizar la Plataforma de manera adecuada y respetuosa. No se permite el uso inapropiado, difamatorio, obsceno, ilegal o abusivo de la Plataforma.
                  </p>
                  <h3>2. Uso Apropiado de la Plataforma</h3>
                  <p>
                      2.1. La Plataforma tiene como objetivo proporcionar una herramienta para la selección de líderes. El Usuario se compromete a utilizarla de acuerdo con sus fines previstos.
                  </p>
                  <p>
                      2.2. El Usuario no debe realizar acciones que puedan dañar, deshabilitar, sobrecargar o deteriorar la Plataforma.
                  </p>
                  <h3>3. Propiedad Intelectual</h3>
                  <p>
                      3.1. Todo el contenido proporcionado por el Proveedor a través de la Plataforma, incluyendo textos, gráficos, logotipos, imágenes y software, está protegido por derechos de propiedad intelectual. El Usuario se compromete a respetar estos derechos y no realizar copias no autorizadas, distribución o modificación de dicho contenido.
                  </p>
                  <h3>4. Limitación de Responsabilidad</h3>
                  <p>
                      4.1. El Proveedor no asume responsabilidad por el mal uso de la Plataforma por parte de los Usuarios. Cada Usuario es responsable de sus acciones y del contenido que publique en la Plataforma.
                  </p>
                  <p>
                      4.2. El Proveedor no garantiza la exactitud, integridad o idoneidad de la información proporcionada a través de la Plataforma.
                  </p>
                  <h3>5. Privacidad de los Datos</h3>
                  <p>
                      5.1. El Proveedor se compromete a proteger la privacidad de los datos de los Usuarios. Para obtener más información sobre cómo se recopilan, utilizan y protegen los datos personales, consulte nuestra Política de Privacidad.
                  </p>
                  <h3>6. Modificaciones de los Términos</h3>
                  <p>
                      6.1. El Proveedor se reserva el derecho de modificar estos Términos en cualquier momento. Las modificaciones se harán efectivas al ser publicadas en la Plataforma. El Usuario es responsable de revisar periódicamente los Términos actualizados.
                  </p>
                  <h3>7. Terminación del Uso</h3>
                  <p>
                      7.1. El Proveedor se reserva el derecho de terminar o suspender el acceso de cualquier Usuario a la Plataforma si se determina que se han violado estos Términos.
                  </p>
                  <h3>8. Ley Aplicable</h3>
                  <p>
                      8.1. Estos Términos se rigen por las leyes de Paraguay. Cualquier disputa relacionada con estos Términos estará sujeta a la jurisdicción exclusiva de los tribunales de Paraguay.
                  </p>
                  <h3>9. Contacto</h3>
                  <p>
                      9.1. Si tiene alguna pregunta o inquietud con respecto a estos Términos, por favor contáctenos a través de [correo electrónico de contacto].
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
